head[data-theme="dark"] {
  --background-color: rgb(55, 51, 49);
}

head[data-theme="light"] {
  --background-color: rgb(245, 234, 234);
}

body[data-theme="dark"] {
  --font-color: rgb(245, 234, 234);
  --font-color-hover: rgb(10, 10, 10);
  --background-color: rgb(55, 51, 49);
  --card-bg: rgba(245, 234, 234, 0.05);
  --card-hover-bg: #c2fbd7;
  --font-color-p: rgba(245, 234, 234, 0.5);
  --font-color-p-hover: rgba(10, 10, 10, 0.8);
  --a-color-hover: rgb(127, 205, 145);
}

body[data-theme="light"] {
  --font-color: rgb(77, 70, 70);
  --font-color-hover: rgb(10, 10, 10);
  --background-color: rgb(245, 234, 234);
  --card-bg: rgba(77, 70, 70, 0.05);
  --card-hover-bg: #c2fbd7;
  --font-color-p: rgb(77, 70, 70);
  --font-color-p-hover: rgba(10, 10, 10, 0.8);
  --a-color-hover: rgb(127, 205, 145);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.Header {
  padding: 2%;
  font-weight: 600;
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header__inner {
  display: flex;
  align-items: center;
  vertical-align: center;
}

.Header__inner h2 {
  font-size: 150%;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 75%;
  margin: 0;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* ← 2 столбца */
  gap: 20px;
  align-items: stretch;
  margin-top: 2%;
  margin-bottom: 5%;
}

@media (max-width: 800px) {
  .row {
    grid-template-columns: 1fr;
  }
}

a {
  text-decoration: none;
  color: var(--font-color);
}
a:hover {
  color: var(--a-color-hover);
}

.Card {
  margin-top: 5%;
  margin-right: 2%;
  padding: 8px;
  border-radius: 8px;
  height: 260px;
  background: var(--card-bg);
}

.Card:hover {
  background: var(--card-hover-bg);
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  border: 1px solid hsla(0, 0%, 87.8%, 0);
  cursor: pointer;
}

.data {
  margin-top: 5px;
}

h2 {
  font-size: 120%;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 1px;
  display: inline;
}

p {
  font-size: 100%;
  font-weight: 400;
  color: var(--font-color-p);
  margin-bottom: 5px;
}

.Card:hover p {
  color: var(--font-color-p-hover);
}

.Card:hover h2 {
  color: var(--font-color-hover);
}

.cover {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  height: 65%;
}
@media (max-width: 549px) {
  .Card {
    height: auto;
    min-height: 120px;
    padding: 12px;
  }

  .Card .cover {
    height: 65%;
  }
}

.Footer {
  font-size: medium;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* как у карточек */
  gap: 20px;
  margin: 20px 0;
}

.Footer a:first-child {
  justify-self: end;
}

.Footer a:last-child {
  justify-self: start;
}

@media (max-width: 800px) {
  .Footer {
    grid-template-columns: 1fr;
  }

  .Footer a:first-child {
    justify-self: center;
  }

  .Footer a:last-child {
    justify-self: center;
  }
}

.heart {
  color: #db2929;
}

.Footer > p {
  font-weight: 600;
}

.Footer > a {
  color: var(--font-color-p);
  font-weight: 600;
}

.Footer > a:hover {
  color: var(--a-color-hover);
}

.switch-theme-button {
  background-color: var(--card-bg);
  stroke-width: 2px;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0;
}
